@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.container {
  max-width: 500px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px #999999;
  background-color: coral;
  border-radius: 60px;
}

#display {
  text-align: left;
  height: 90px;
  background-color: lightcoral;
  line-height: 70px;
  padding: 16px 16px 16px 16px;
  font-size: 25px;
  border-radius: 200px;
  font-family: 'Rampart One', cursive;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  border: 1px solid black;
  border-radius: 50px;
  line-height: 80px;
  text-align: center;
  font-size: 25px;
  font-family: 'Rampart One', cursive;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: lightcoral;
}

.button:hover {
background-color: lightgray;
transform: scale(1.1);
transition: all ease 500ms;
}